@import "reset";
@import "themes/normal";
@import "themes/dark";
@import "variables/global";

.app {
  // Основной шрифт
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}