.app.dark {
  --bg-color: #18186c;
  --navbar-bg-color: #1c1c80;

  // Цвет для текста и всего остального
  --primary-color: #a6a61e;
  // Цвет для кнопок, ссылок и т.д.
  --secondary-color: #ffff73;
}