.app.light {
  --bg-color: #d5d5d5;
  --navbar-bg-color: #f3f3f3;

  // Цвет для текста и всего остального
  --primary-color: #18186c;
  // Цвет для кнопок, ссылок и т.д.
  --secondary-color: #fdfd00;
}