.Navbar {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  height: var(--navbar-height);

  background-color: var(--navbar-bg-color);
}

.links {
  display: flex;
  gap: 10px;
}

.mainLink {

}
